//
// Variables
// --------------------------------------------------

// Fonts
// -------------------

$headingFont: 'Montserrat', sans-serif;
$paragraphFont: 'Lato', sans-serif;

// Colours
// -------------------

$primaryColor: #E86D15;
$secondaryColor: #9d6ab4;
$yellow: #F9A400;
$inputColor: #F4F4F4;

$textColor: #364A4D;
$navColor: #98B2B7;
$baseColor: #EEEEEE;

$socialFacebook: #3B5998;
$socialTwitter: #00ACED;
$socialInstagram: #3F729B;
$socialYoutube: #EA2603;

$errorColor: #AA0000;
$successColor: #00AA00;
$baseFontSize: 16;

// Breakpoints
// -------------------

$breakpoints: (
	'mobile': (max-width: 736px),
	'tablet': (max-width: 1024px),
	'desktop': (min-width: 1200px),
);

// Include gutter on outside 
$gutterOnOutside: true;

// Breakpoints Grid Settings
// -------------------

$grid-settings: (
	base: (
		container-columns: 12,
		gutter: 1%,
		max-width: 1170px,
	),
	desktop: (
		container-columns: 12,
		gutter: 1%,
		max-width: 1200px,
	),
	tablet: (
		container-columns: 12,
		gutter: 5%,
	),
	mobile: (
		container-columns: 1,
		gutter: 5%,
	)
);
