//
// Buttons
// --------------------------------------------------
button,
.button,
[class^="button"],
input[type="button"],
input[type="submit"],
input[type="reset"] {
    display: inline-block;
    padding: 1.22rem 1.25em;
    margin: 0 0 0.625em;
    border: none;
    appearance: none;
    outline: none;
    line-height: 100%;
    cursor: pointer;
    text-decoration: none;
    font-family: inherit;
    font-size: 1rem;
    
    &.huge{
        font-size: 1.25rem;
        font-weight: 600;
        padding: 0.625em 2em;
    }
}

button.primary,
.button-primary,
input.button-primary {
	@include button-style();
}

button.secondary,
.button-secondary,
input.button-secondary {
    @include button-style();

    padding: 0.54rem 0.6rem;
    font-size: 14px;
}
