//
// Footer
// --------------------------------------------------

section.newsletter {
	background: #364A4D;
	padding: 40px 0;
	clear: left;

	h3 {
		color: white;
		text-align: center;
	}

	form {
		@include columns(12,0,0);

		padding-top: 22px;

		input {
			@include columns(4);

			border-radius: 0;

			&:not([type=submit]) {
				background: transparent;
				border: 1px solid white;
				padding: 1.05rem 1.25em;
				color: white;
			}
		}
	}
}

.logo {
	@include columns(1.6);

	float: left;

	img {
		width: 123px;
		height: 47px;
	}
}


footer.primary {
	background-color: white;
	padding: 57px 0 52px;

	nav.footer {
		@include columns(5);

		.left {
			width: 55%;
			float: left;
		}

		.right {
			width: 45%;
			float: left;
		}

		ul {
			margin: 0;
			padding: 0;

			li {
				list-style: none;
				padding: 6px 0;

				a {
					font-size: 16px;
					font-family: $headingFont;
					letter-spacing: 1.5px;
					color: $textColor;
					font-weight: 700;
					text-transform: uppercase;
				}
			}
		}
	}
	.associates {
		@include columns(7);

		div {
			float: left;
			text-align: center;
		}

		.first {
			width: 25%;
		}

		.second {
			width: 50%;
			img {
				padding: 0 10px;
			}
		}

		.third {
			width: 25%;
		}

		img {
			height: 45px;
			width: auto;
			margin-top: 20px;
		}
	}
	.copyright {
		@include columns(12);

		padding-top: 22px;
		margin-top: 30px;
		border-top: 1px solid $navColor;

		.text {
			width: 80%;
			float: left;
			font-size: 12px;
			color: $navColor;
			font-family: $headingFont;

			span {
				font-size: 18px;
				display: inline-block;
				margin-top: -3px;
			}
		}

		.icons-footer {
			width: 20%;
			float: left;
			text-align: right;
			font-size: 12px;
			margin-top: 11px;

			i {
				padding: 0 8px;
			}

			a {
				color: $navColor;
			}
		}
	}
}

@include respond-to('mobile'){
	footer.primary{

		.associates {
			@include columns(7);

			div {
				float: left;
				text-align: center;
			}

			.first {
				width: 33%;
			}

			.second {
				width: 33%;
				img {
					padding: 0 10px;
				}
			}

			.third {
				width: 33%;
			}

			img {
				height: auto;
				width: 100%;
				margin-top: 20px;
			}
		}
		
	}
}
