//
// Header
// --------------------------------------------------

header.primary {
	background-color: white;
	padding-bottom: 5px;
}

.logo {
	@include columns(1.6);
	@include responsive-columns('tablet', 1.5);

	position: relative;
	z-index: 50;
	float: left;
	
	img {
		width: 123px;
		height: 47px;

		@include respond-to('tablet') {

		}
	}
}

@include respond-to('tablet') {
	.logo {
		.img {
			width: 100px;
			height: auto;
		}
	}
}