//
// Header
// --------------------------------------------------
header:after { // nouabook override
    content: "";
    display: none;
    width: 100%;
    height: 0px;
    background: transparent;
}
header.primary {
	background-color: white;
	padding-bottom: 5px;
}
.logo.mobile { display: none; }
.logo {
	@include columns(1.6);
	@include responsive-columns('tablet', 1.5);
	// Can use responsive-columns to overide the defaults.
	// By using it for tablet, it also overides mobile, so you'll probably have to overide moble as well

	position: relative;
	z-index: 50;
	float: left;

	img {
		width: 123px;
		height: 47px;

		@include respond-to('tablet') {
			// Can use the respond-to mixin inside selectors
			width: 100px;
			height: auto;
		}
	}
}

@include respond-to('mobile') {

	// Or outside
	nav.secondary + .logo {
		display: none;

		img {
			width: 100px;
			height: auto;
		}
	}
}
