//
// Footer
// --------------------------------------------------

div.pagination {
	float: left;
	clear: left;
	width: 100%;
	text-align: center;
	font-size: 10px;
	padding: 10px 0 72px;

	a {
		@include title();
		display: inline-block;
		padding: 0 10px;

		&:not(.current-page) {
			color: $navColor;
		}

		.fa {
			font-size: 16px;
			margin-top: -5px;
		}
	}

	ul {
		display: inline-block;
		margin: 0;
		padding: 0 30px;

		li {
			list-style: none;
			font-size: 10px;
		}
	}
}

@include respond-to('mobile'){

	div.pagination {
		padding: 10px 0px 60px;
		ul {
			padding: 0px 15px;
			li a {
				letter-spacing: normal;
			}
		}
	}

}
