//
// Footer
// --------------------------------------------------

div.pagination {
	float: left;
	clear: left;
	width: 100%;
	text-align: center;
	font-size: 10px;
	font-family: $headingFont;
	padding: 10px 0 72px;
	a {
		display: inline-block;
		padding: 0 10px;
		letter-spacing: 1.3px;
		font-weight: 700;
		&:not(.current-page) {
			color: $navColor;
		}
		.fa {
			font-size: 16px;
			margin-top: -5px;
		}
	}
	ul {
		display: inline-block;
		margin: 0;
		padding: 0 30px;
		li {
			list-style: none;
			font-size: 10px;
		}
	}
}