//
// Questions & Responses / Comments
// --------------------------------------------------

div.questions-wrapper {
	@include columns(9,2);
}
div.questions {
	.filter, .meta {
		font-size: 10px;
		@include title();
	}
	.filter {
		float: right;
		margin: 0.8rem 0 2.6rem;
		color: $navColor;
		a {
			color: $textColor;
			&:not(.active) {
				color: $navColor;
			}
			&:hover {
				color: $primaryColor;
			}			
		}
	}
	.comment {
		clear: both;
		&.question:not(:nth-child(2)) {
			padding-top: 40px;
			border-top: 1px solid $navColor;
		}
		.meta {
			float: left;
			width: 100%;
			margin-bottom: 5px;
			position: relative;
			z-index: 30;
			> div {
				float: left;
				padding-bottom: 5px;
				&.date {
					float: right;
				}
			}
			i {
				color: $navColor;
				font-size: 12px;
				margin: -1px 2px 0 0;
			}
			.likes {
				.count {
					display: inline-block;
					padding: 4px 7px 3px;
					margin: -4px 0 0 5px;
					background: $inputColor;
					color: $navColor;
					border-radius: 2px;
				}
			}
			a {
				color: $textColor;
				&:hover {
					color: $primaryColor;
					i {
						color: $primaryColor;
					}
				}				
			}
		}
		.question-content {
			clear: left;
			position: relative;
			z-index: 10;
			.avatar {
				position: absolute;
				top: 0;
				left: -100px;
				img {
					width: 69px;
					height: 69px;
					border-radius: 100px;
				}
			}
			.textarea {
				min-height: 0;
				p {
					font-size: 14px;
					line-height: 1.4;
					&:last-of-type {
						margin-bottom: 0;
					}
				}
				.author {
					margin: 0;
					a {
						@include title();
					}
				}
			}
		}
	}
	.comment.response {
		@include columns(10.6,1.4,0);
		margin-bottom: 20px;
	}
}